---
const { title, description, imgSrc, imgAlt, textButton, icoButtton, hrfButton } = Astro.props;
import Navbar from "../navbar.astro";
import Button from "../microcomponents/buttton.astro";
---

<head>
  <link rel="stylesheet" href="/src/pages/library/css/animation.css">
</head>

<style>
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  p {
    text-align: center;
  }
  h1 {
    text-align: center;
  }

  #headContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

  @media (min-width: 768px) {
    #headContainer {
      display: flex;
      height: 393px;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
    }

    .textContainer {
      width: 305px;
      align-items: start;
      justify-content: space-between;
    }
    p {
      text-align: start;
      width: 261px;
    }
    h1 {
      text-align: start;
    }
  }

  @media (min-width: 1280px) {
    .textContainer {
      width: 485px;
    }
    #headContainer {
      height: 80vh;
    }
    #subjectwoman {
      height: 447.84px;
      width: auto;
    }
    p {
      width: 435px;
    }
  }

  @media (min-width: 1440px) {
    .textContainer {
      width: 633px;
    }
    #subjectwoman {
      height: 494.994px;
      width: auto;
    }
    p {
      width: 660px;
    }
  }
</style>

<body>
  <div id="headContainer">
    <div class="textContainer">
      <h1>{title}</h1>
      <p>{description}</p>
      <Button text={textButton} iconSrc={icoButtton} href={hrfButton} />
    </div>
    <img class="slideLeft" id="subjectwoman" src={imgSrc} alt={imgAlt} />
  </div>
</body>
